[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mokko-roku33
[access "refs/for/refs/*"]
	read = group user/mokko-roku33
	push = group user/mokko-roku33
	label-Code-Review = -2..+2 group user/mokko-roku33
	label-Verified = -1..+1 group user/mokko-roku33
	rebase = group user/mokko-roku33
	removeReviewer = group user/mokko-roku33
	submit = group user/mokko-roku33
[access "refs/heads/*"]
	read = group user/mokko-roku33
	create = group user/mokko-roku33
	push = +force group user/mokko-roku33
	pushMerge = group user/mokko-roku33
[access "refs/tags/*"]
	push = +force group user/mokko-roku33
	pushTag = group user/mokko-roku33
	pushSignedTag = group user/mokko-roku33
